/* colors and fonts */


body{
	background-color: rgb(230,230,230);
	color: #8C7AA9;
	font-family: 'Zilla Slab', serif;
	font-size: 20px;
}

h1{
	font-family: 'Righteous', cursive;
	color: #966B9D;
	font-weight: 40 bold;
	letter-spacing: 3px;
	font-size: 40px;
}

h2, h3 {
	font-family: 'IM Fell French Canon SC', serif;
	color: #28666E;
	font-weight: 26 bold;
	letter-spacing: 1px;
	font-size: 26px;
}

a{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #6B82AE;
	font-weight: 600;
	font-size: 16px;
}
a:hover{
	color:#B0C4B1;
}

div{
	background: rgb(230,230,230);
	border: 2px solid bold;
	width: 700px;
    margin: 40px auto;
}



/*custom design with class */
.container{
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 960px){
	.container{
		width: 700px;
		margin: 40px auto;
	}
}

@media (max-width: 720px){
	.container{
		width: 300px;
		margin: 0px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 5px;
	margin: 20px 0px;
	text-align: center;
	border: 2px solid lightgrey;
}

.img-circle {
	border-radius: 10%;
}

.btn-blue {
	background-color: #B3B3F1;
	color: #FEFDFD;
	padding: 15px 20px;
	border-radius: 5px;
	font-family: 'Righteous', cursive;
}

.btn-blue:hover {
	background: #CEC2FD;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
}
.list-inline i: hover {
	font-size: 50px;
}

#introduction p {
	margin-bottom: 40px;
}








